@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

:root {
  --bg: #0b0f14;
  --fg: #e6edf3;
}

body {
  background: var(--bg);
  color: var(--fg);
}
